In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

Do the same via list comprehensions

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = []

print(newlist)

Only accept items that are not "apple":

In [ ]:
newlist = []
print(newlist)

You can use the range() function to create an iterable. Take the first 10 elements.

In [ ]:
newlist = []
print(newlist)

Accept only numbers lower than 5 in this range

In [ ]:
newlist = []
print(newlist)

Set the values in the new list to upper case:

In [ ]:
newlist = []
print(newlist)

Set all values in the new list to 'hello':

In [ ]:
newlist = []
print(newlist)

Return "orange" instead of "banana":

In [ ]:
newlist = []
print(newlist)